<section class="person">
    <div class="item-id">
        {{itemid}}
    </div>
    <div class="item-title">
        {{itemtl}}
    </div>
    <div class="item-desc">
       <p>{{desc}}</p>
    </div>
    <div class="delete">
        <button id="delete-person">Delete</button>
    </div>
</section>