 <section class="orders">
    <div class="order-number">
        {{ordernum}}
    </div>
    <div class="order-date">
        {{orderdt}}
    </div>
    <div class="price">
        {{price}}
    </div>
    <div class="items">
        <a href="/items">Items</a>
    </div>
    <div class="delete">
        <button id="delete-order">Delete</button>
    </div>
</section>