 <section class="person">
    <div class="order-number">
        {{firstname}}
    </div>
    <div class="order-date">
        {{lastname}}
    </div>
    <div class="price">
        {{price}}
    </div>
    <div class="items">
        <a href="items.html">Items</a>
    </div>
</section>