 <section class="person">
    <div class="first-name">
        {{firstname}}
    </div>
    <div class="last-name">
        {{lastname}}
    </div>
    <div class="cust_id">
        {{cust_id}}
    </div>
    <div class="order">
        <a href="orders/{{firstname}}">Orders</a>
    </div>
    <div class="delete">
        <button id="delete-person">Delete</button>
    </div>
    
</section>