<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/style.css">
            <script src="index.js" charset="utf-8" defer></script>
            <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
            <script src="personTemplate.js" charset="utf-8" defer></script>
            <script src="orderTemplate.js" charset="utf-8" defer></script>
        </head>
        <body>
            <div class="header">
                <div class="title">
                    <h1>CS 340 Project</h1>
                </div>
                <div class="names">
                    <h3>Cyrus Shafizadeh, Jemaine Lara, and {{name}}</h3>
                </div>
            </div>
            
            {{{body}}}

        </body>
    </html>