
<div class="content">
	<div class="description">
		<h4>"This is the order page, which displays all orders placed by a customer. Click on the Items link to view all items that were a part of a customers order."</h4>
	</div>
    <div class="search">
        <input type="text" placeholder="Search..."/>
        <button id="search_submit">Submit</button>
    </div>
    <div class="add-order">
        <h3>Add Order</h3>
        <div class="add-order-container">
            <div class="add-order-num">
                <p>Order Num</p>
                <input type="text"placeholder="Order Num"/>
            </div>
            <div class="filter-input-container">
                <label for="filter-city" class="filter-input-label">Add Item</label>
                <div class="filter-input-element">
                    <select id="order-item" class="filter-input" name="item-order">
                    <option selected value="">Any</option>
                    <option>Item 1</option>
                    <option>Item 2</option>
                    <option>Item 3</option>
                    </select>
                </div>
            </div>
            <button id="search_submit">Submit</button>
        </div>
    </div>
    <div class="lable">
        <div class="fn">
            <h3>Order Number</h3>
        </div>
        <div class="ln">
            <h3>Order Date</h3>
        </div>
        <div class="prc">
            <h3>Price</h3>
        </div>
    </div>
    <div id="orders">
        <div class="orderContainer">
            {{#each orderData}}
                {{>orders}}
            {{/each}}
        </div>
    </div>
</div>