
<div class="content">
	<div class="description">
		<h4>This is the people page, which displays all people who are customers of Beaver Clothing Company. You can search by customer name, add or remove customers or click on the order link to view customer orders.</h4>
	</div>
    <div class="search">
        <input type="text" id="searchFilter" placeholder="Search..."/>
        <button id="search_submit">Submit</button>
    </div>
    <div class="add">
        <h3>Add Person</h3>
        <form id="addperson" action="/people" method="post">
            First name: <input type="text" name="customerFirstName"><br>
            Last name: <input type="text" name="customerLastName"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <br/>
    </div>

    <div class="lable">
        <div class="fn">
            <h3>First Name</h3>
        </div>
        <div class="ln">
            <h3>Last Name</h3>
        </div>
        <div class="cid">
            <h3>Customer ID</h3>
        </div>
    </div>
    <div id="people">
        <div class="peopleContainer">
            {{#each people}}
                <section class="person">
                    <div class="first-name">
                        {{customerFirstName}}
                    </div>
                    <div class="last-name">
                    {{customerLastName}}
                    </div>
                    <div class="cust_id">
                    {{customerId}}
                    </div>
                    <div class="order">
                        <a href="/orders">Orders</a>
                    </div>
                    <div class="delete">
                        <button id="delete-person">Delete</button>
                    </div>
                </section>
            {{/each}}
        </div>
    </div>
</div>