
            <div class="content">
                <div class="add">
                    <h3>Add Person</h3>
                    <input type="text" id="firstname" placeholder="First Name">
                    <input type="text" id="lastname" placeholder="Last Name">
                    <button id="submit">Submit</button>
                </div>

                <div class="lable">
                    <div class="fn">
                        <h3>First Name</h3>
                    </div>
                    <div class="ln">
                        <h3>Last Name</h3>
                    </div>
                </div>
                <div id="people">
                    <div class="peopleContainer">
                        {{#each peopleData}}
                            {{>person}}
                        {{/each}}
                    </div>
                </div>
            </div>