@charset "UTF-8";

body {
    background-color: #222831;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.header {
    width: 96vw;
    display: flex;
    color: white;
}

.title {
    margin-left: 2vw;
    margin-right: 2vw;
}

.names {
    margin-top: 2vw;
}

.lable {
    color: white;
    display: flex;
}

.fn {
    margin-left: 5vw;
    margin-right: 5vw;
}

.prc {
    margin-left: 5vw;
    margin-right: 5vw;
}


.ln {
    margin-left: 5vw;
    margin-right: 5vw;
}

.person {
    display: flex;
    color: white;
}

.order {
    padding: 0vw 5vw;
    display: flex;
    color: white;
    border: 1px solid white;
}



.orders {
    display: flex;
    color: white;
}

.first-name {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.last-name {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.cust_id {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.ordersLink {
    height: 3vw;
    width: 10vw;
    padding-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.person a {
    color: white;
    text-decoration: none;
}

#people {
    padding-left: 5vw;
}

.people a:hover {
    text-decoration: underline;
}

.add {
    color: white;
    width: 95vw;
    padding-left: 5vw;
    padding-bottom: 3vw;
    border-bottom: 2px solid white;
}

.Icontent {
    font-size: 5vw;
    padding-left: 3vw;
}

.order-number {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.order-date {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.price {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.items {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.item-id {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.item-title {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

.item-desc {
    height: 5vw;
    width: 40vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
    font-size: 2vw;
}

a:hover {
    text-decoration: underline;
}

.description {
	padding-left: 5vw;
	color: white;
}

.search {
    padding-left: 5vw;
}

.orderContainer {
    padding-left: 5vw;
}

.add-order {
    color: white;
    padding-left: 5vw;
}

.add-order-container {
    display: flex;
}

.add-order-container input{
    height: 2vh;
    width: 5vw;
}

.add-order-num {
    padding: 1vw;;
}

.add-order-num input {
    width: 15vw;
}

.add-order-num p {
    width: 11vw;
    margin: 0;
    padding-left: 2vw;
    font-size: 2vw;
}

.filter-input-container {
    width: 15vw;
    padding: 1vw;
}

.filter-input-label {
    width: 11vw;
    margin: 0;
    margin-bottom: 2vw;
    font-size: 2vw; 
}

.filter-input {
    width: 15vw;
}

#search_submit {
    width: 10vw;
    height: 3vw;
    margin: 3vh;
}

.delete {
    height: 5vw;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1px solid white;
}

